<!DOCTYPE html>
<html>
<head>

	<title>Oficinas</title>
</head>

	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>

		<label class="logo" id = "home" >

			<%= link_to home_path do %>
   				<%= image_tag "LogoAtualizadoDef.png", class: "home_logo" %>
			<% end %>

		</label>
		<ul>
			<li><a class="active" href="#">Início</a></li>
			<li><a><%= link_to 'Sair', destroy_user_session_path, method: :delete %></a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</nav>

	<div class="container-list-workshops">
	  <table class="table">
		    <thead class="table-info">
				<tr>
					<th>Título</th>
					<th>Data</th>
					<th>Instituição</th>
					<th>Disciplina</th>
					<th></th>		        
				</tr>
		    </thead>
		    <tbody>
				<tr class="table">
					<td>Aula de cinemática - 3M</td>
					<td>24/09/1998</td>
					<td>Instituto federal de Gravataí</td>
					<td>Física</td>	
					<td> <button type="button" class="btn btn-success">Editar</button> <button type="button" class="btn btn-danger">Remover</button> <button type="button" class="btn btn-primary">Avaliação</button></td>		        
				</tr>      
				<tr class="table">
					<td>Aula de Poliedros - 3M</td>
					<td>24/01/2021</td>
					<td>Instituto federal de Gravataí</td>
					<td>Matemática</td>		
					<td> <button type="button" class="btn btn-success">Editar</button> <button type="button" class="btn btn-danger">Remover</button> <button type="button" class="btn btn-primary">Avaliação</button> </td>		        		        	        
				</tr>
		    </tbody>
	  </table>		
	</div>
	
</html>