

#body_login {

}

.login_form_container {
    position: relative;
    width: 609px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: groove;
    border-radius: 9px;

}

.edit_form_container {
    position: relative;
    width: 581px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: groove;
    border-radius: 9px;
    height: 500px;
    margin-top: 145px;
    flex-direction: column;
}

.new_user {
    position: relative;
}

.user_login_container {
    height: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
}

.user_login {
    height: 123px;
    width: 134px;
    position: relative;

}

.login_form_label {
    /*font-family: 'Mukta', sans-serif;*/
    font-weight: 900;
    margin-bottom: 19px;
    margin-top: 22px;
    position: relative;
    color: #4cc7de;
    font-size: 20px;
}

.login_form_inputs {
    position: relative;
    height: 40px;
    width: 375px;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 34px;
    margin-top: 10px;
    
}
.form_submit_button {
    margin-top: 18px;
    position: relative;
    height: 40px;
    width: 375px;
    border: 5px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4dcae2;
    padding: 0px;
    font-size: 20px;
    font-weight: 800;
    /*font-family: 'Mukta', sans-serif;*/
    color: white;
    transition: 0.5s;
    margin-bottom: 5px;
}
.form_submit_button:hover {
	background-color: #82f0d0;
	color:black;

}
.register_new_user {
    position: relative;
    /*font-family: 'Mukta', sans-serif;*/
    font-weight: 600;
    color: #50cfe6;
    font-size: 22px;
    margin-top: 5px;
    transition: 0.5s;
}
.register_new_user:hover {
     background-color: white;
     opacity: 0.5;

}

.spam_reset_psw {
    position: relative;
    height: 115px;
    padding: 5px;
    width: 332px;
    /*font-family: 'Mukta', sans-serif;*/
    font-size: 18px;
    margin-bottom: 43px;
    font-weight: 600;
    color: #7f7f7f;
}

.label_light_class {
    
}

.label_strong {

}

/*SEÇÃO DO MODAL*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.errors_message {
    
}