

<!DOCTYPE html>
<html>
<head>

	<title>Introduão</title>

</head>

	<%= render file:  "#{Rails.root}/app/views/home/navbar_padrao.html.erb" %>

	<body>

		<div class="container_introduction">
			<div class="label_introduction"> Tutorial</div>

			<div class="video_picker_container">
				<div class="controls_video_picker">	
					<div class="picker introduction-control" onclick = "changeVideoPicker(1)"><h2>1 - Introdução</h2></div>
					<div class="picker overview-control"     onclick = "changeVideoPicker(2)"><h2>2 - Etapas oficinas</h2></div>	
					<div class="picker google-meet"          onclick = "changeVideoPicker(3)"><h2>3 - Google Meet </h2></div>	
					<div class="picker steps-control"        onclick = "changeVideoPicker(4)"><h2>4 - Zoom</h2></div>	
					<div class="picker change-video"         onclick = "changeVideoPicker(5)"><h2>5 - Editor de PDF</h2></div>	
					<div class="picker example-pratics"      onclick = "changeVideoPicker(6)"><h2>6 - Exemplo prático</h2></div>	

				</div>				
			</div>			

			<div class="tutorial_parent_video">
			    <% @videos.each do |video| %>	  
			      	<div class="videos" id = "video_<%= video.id %>">
						<iframe width="560" height="315" src="<%= video.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
						</iframe>			      		
			      	</div>							       	
			    <% end %>  
			</div>
		</div>		

	</body>
	
</html>