<!DOCTYPE html>
<html>
<head>

	<title>Introduão</title>
</head>

	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>

		<label class="logo" id = "home" >

			<%= link_to home_path do %>
   				<%= image_tag "LogoOnline.png", class: "home_logo" %>
			<% end %>

		</label>
		<ul>
			<li><a class="active" href="#">Início</a></li>
			<li><a><%= link_to 'Sair', destroy_user_session_path, method: :delete %></a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</nav>

	<body>

		<div class="container_introduction">
			<div class="label_introduction"> Tutorial</div>

			

		</div>		

	</body>
	
</html>